* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   background-image: url(img.jpg) ;
    color: #fff;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    text-align: center;
    padding: 40px;
}
h1{
    color: rgb(160, 189, 31);
}
/* Activities */
.activities {
    padding: 40px 60px;
}

.row {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.center-row {
    justify-content: center;
}

/* Cards */
.card {
    background: rgba(0,0,0,0.4);
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.4s;
}

.center-row .card {
    width: 40%;
}

.card:hover {
    transform: translateY(-10px);
}

/* Image Placeholder */
.img-box {
   
    height: 180px;
    border: 2px dashed #ffd700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 10px;
}
img{
  max-width: 100%;  
  height: 100%;
}
/* Buttons */
button {
    margin-top: 10px;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    background: #ffd700;
    font-weight: bold;
    border-radius: 5px;
}

/* Animations */
.fade-in {
    animation: fadeIn 2s ease;
}

.slide-up {
    animation: slideUp 1.5s ease forwards;
    opacity: 0;
}

.delay1 { animation-delay: 0.4s; }
.delay2 { animation-delay: 0.8s; }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
}
h3{
    color: #1e90ff;
}
.popup-box {
    background: #fff;
    color: #000;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.popup-box input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
}

.close-btn {
    background: #ccc;
    margin-left: 5px;
}
img{

    width: 4opx;
}
footer {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 40px;
    color: #ffd700;
    background-color: blue;

}
/* Contact Section */
.contact-section {
   background-color: green;
    padding: 40px 0;
    border-radius: 10px;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 60px;               /* space between icons */
}

/* Contact Items */
.contact-item {
    color: #fff;
    text-decoration: none;
    text-align: center;
    animation: slideUp 1.5s ease forwards;
    opacity: 0;
}

/* Icons */
.contact-item i {
    font-size: 30px;
    margin-bottom: 8px;
    color: #ffd700;
    transition: transform 0.3s;
}

/* Text */
.contact-item span {
    display: block;
    font-size: 14px;
}

/* Hover Effect */
.contact-item:hover i {
    transform: scale(1.3);
}

/* Animation */
@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Delay animations */
.contact-item:nth-child(1) { animation-delay: 0.2s; }
.contact-item:nth-child(2) { animation-delay: 0.4s; }
.contact-item:nth-child(3) { animation-delay: 0.6s; }
.contact-item:nth-child(4) { animation-delay: 0.8s; }
/* Navbar */
header {
    background: rgb(12, 155, 67);
    padding: 15px 20px;
    border-radius: 10px;
}
.fade-in{
    color: rgb(22, 78, 233);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
  background-color: #1e90ff;
    width:130px ;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    padding: 5px;
margin-left:4px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}
