* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f4f6f8;
}

/* HEADER */
.header {
  background: linear-gradient(135deg,#1e90ff,#00c6ff);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}
.p1{
  color: #e76113;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo{
  background-color: #1e90ff;
    width:130px ;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    padding: 5px;
margin-left:4px;
}
/* SLIDER */
.slider {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.slides {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.slides.active {
  opacity: 1;
}

.overlay {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: rgb(21, 52, 230);
  animation: slideUp 2s ease;
}

.overlay h2 {
 margin-bottom: 10px;
color: green;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #0a27cc;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: transform .3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* CATEGORIES */
.categories {
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  transition: transform .4s;
}

.card:hover {
  transform: translateY(-10px);
}
img{
width: 80%;

}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
}

.card p {
  padding: 0 10px;
  color: #555;
}

.card button {
  margin: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  border: none;
  border-radius: 25px;
  background: #1e90ff;
  color: white;
  transition: background .3s;
}

.card button:hover {
  background: #0b65c2;
}

/* DESCRIPTION */
.description {
  padding: 20px;
  text-align: center;
}
/* CONTACT */
/* Contact Section */
.contact-section {
   background-color: green;
    padding: 40px 0;
    border-radius: 10px;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 60px;               /* space between icons */
}
* 

/* Icons */
.contact-item i {
    font-size: 30px;
    margin-bottom: 8px;
    color: #ffd700;
    transition: transform 0.3s;
}

/* Text */
.contact-item span {
    display: block;
    font-size: 14px;
}
h2{
    text-align: center;
    margin-top: 1px;
    color: #ffd700;
}
/* Hover Effect */
.contact-item:hover i {
    transform: scale(1.3);
}

/* Animation */
@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}
h2{
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    background: #330be6;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 13px;
}


/* FOOTER */

/* ANIMATION */
@keyframes slideUp {
  from {transform: translateY(50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}
